<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ../partial/bootstrap %>
    <title>Dashboard | Gonorrhea Expert System</title>
</head>
<body class='bg-sky-blue'>
        <% include ../partial/adminnav %>
  <div class="jumbotron jumbotron-fluid bg-sky-blue">
   
    <section class="container">
        <div class="row">

            <div class="col-lg-10 mb-2 offset-lg-1">
                <div class="card">
                    <div class="card-header text-light btn-nurse-blue">DashBoard/ All Symptoms</div>
                    <div class="card-body">
                            <table class="table table-striped">
                                    <thead>
                                      <tr>
                                        <th scope="col">S/N</th>
                                        <th scope="col">Symptoms</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Manage</th>
                                        
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <%for (symp of symptoms){ %>
                                            <tr>
                                                <th scope="row"><%=symp.SN%></th>
                                                <td><%=symp.Question%></td>
                                                <td><%=symp.Type%></td>
                                                <td><a href="/admin/dashboard/<%=symp.SN%>/edit"><i class="fas text-nurse-blue fa-edit"></i></a> &emsp; <a href="/admin/dashboard/<%=symp.SN%>/delete"><i class="fas text-danger fa-trash"></i></a> </td>                                                    
                                            </tr>
                                        <%}%>
                                        
                                    </tbody>
                                  </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>